<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
  <title>Título de la Página</title>       	
</head>

<body>

  <div class="container-fluid" style="text-align: center">
        <div class="row" >
              <h1>Bienvenido</h1>
         </div>
 </div>

<br>
  <div class="container"></div>
    <navbar>
        <div class="row">
          <div class="col-sm-1"></div>
           <div class="col-sm-2">
              <a href="/">Inicio</a>
           </div>
<div class="col-sm-2">
    <a href="/crearCurso">Crear Curso</a>
    </div>
    <div class="col-sm-2">
    <a href="/listarCursos">Ver Cursos</a>
    </div>
    <div class="col-sm-2">
    <a href="/inscripcion"> Incribir</a>
      </div>
    <div class="col-sm-2">
    <a href="/listarIncripciones">Ver inscritos</a>
      </div>
    <div class="col-sm-1"></div>
  </navbar>
   </div>

  </div><br>